/*   
Theme Name: Asurion
Theme URI: http://asurion.com
Description: Asurion style guide theme. 
Author: Asurion Design Group
Version: 2.0
*/ 


.btn {
  border: 0;
  font-size: 16px;
  line-height: 16px;
  background: #7fba00;
  color: #fff;
  padding: 15px 30px;
  min-width: 120px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: background-color,0.1s linear;
  -moz-transition: background-color,0.1s linear;
  -o-transition: background-color,0.1s linear;
  transition: background-color,0.1s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:hover, .btn:active, .btn:focus {
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}

.btn-primary {
  border: none;
  background-color: #7fba00;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
{color:#ffffff;background-color:#8bca02;}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled],,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled]
{background-color:#999;
 -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
 -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
 box-shadow: 0 0 0 rgba(0,0,0,0);
 text-shadow: none;}

 .btn-secondary {
  background-color: transparent;
  color: #7fba00;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: none;
  border: 2px solid #7fba00;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background-color: #8bca02;
  color: #fff;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: none;
  border: 2px solid #8bca02;
}

.btn-icon i {
  display: relative !important;
  vertical-align: middle;
  font-size: 54px;
  line-height: 46px;
  background: rgba(0,0,0,0.08);
  padding: 0px;
  margin: 0 12px 0 -30px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.btn-primary.disabled {
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}

.example .btn-large {
  border: 0;
  font-size: 18px;
  line-height: 18px;
  background: #7fba00;
  font-weight: 500;
  color: #fff;
  padding: 20px 30px;
  min-width: 225px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: background-color,0.1s linear;
  -moz-transition: background-color,0.1s linear;
  -o-transition: background-color,0.1s linear;
  transition: background-color,0.1s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;color:#ffffff;
}
.example .btn-large:hover {
  background: #8bca02;
  -webkit-transition: background-color,0.1s linear;
  -moz-transition: background-color,0.1s linear;
  -o-transition: background-color,0.1s linear;
  transition: background-color,0.1s linear;

}

.span4 {
  width: 300px;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

*, *:after, *:before {
  text-rendering: optimizeLegibility;
}


* {
  margin: 0;
  padding: 0;
  outline: 0;
}

label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px; 
}



label, input, button,select, textarea {
  font-weight: normal;
  line-height: 20px;
}

label, select, button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"] {
  cursor: pointer;
}

textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"], input[type="month"],input[type="time"], input[type="week"],input[type="number"],input[type="email"], input[type="url"],input[type="search"], input[type="tel"],input[type="color"], .uneditable-input {
  background-color: #ffffff;
  padding: 19px 6px;
 border-radius: 4px;
 border: 2px solid #e4e4e4;
 transition: border linear 0.2s, box-shadow linear 0.2s;
 color: #666;
 min-width: 200px;
}

input[class*="span"],select[class*="span"],textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] {
}

input[class*="span"],select[class*="span"],textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}


select, textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"], input[type="month"],input[type="time"], input[type="week"],input[type="number"],input[type="email"], input[type="url"],input[type="search"], input[type="tel"],input[type="color"], .uneditable-input {  display: inline-block;  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
}

input {
  font-size: 14px;
  font-weight: normal;
  color: #ccc;
}

#email {
  margin-bottom: 0px;
  padding: 15px 6px;
 min-width: 300px;
}

.form-field {
  margin-top: 34px;
}

.custom-dropdown {
  margin: 0 0 20px 0;
  padding: 0;
  background-color: #fff;
  transition: all 0.2s ease;
  border-radius: 4px;
  font-size: 16px;
  text-shadow: none;
  box-shadow: none;
  min-width: 200px;   
}

.custom-dropdown select {
  background-color: transparent;
  font-size: inherit;
  width: 100%;
  border: 0;
  margin: 0;
  cursor: pointer;      
  padding:19px 6px;
  border-radius: 4px;
  border: 2px solid #e4e4e4;
  color:#666;
  transition: all 0.2s ease;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}
.custom-dropdown select:focus {
  border-color: rgba(82, 168, 236, 0.8);
  border-radius: 4px;
  outline: 0;
}
/* Hidden placeholder */
select option[disabled]:first-child {
  display: none;
}
.custom-dropdown select[disabled] {
  color:#DDD;
  cursor: not-allowed;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: '\f107';
  font-family: 'asurion';
  border: none;
  height: 100%;
  width: 50px;
  top: 3px;
  right: 2px;
  color: #999;
  padding: 19px 0 0 18px;
}

.custom-dropdown::before { /*  Custom dropdown arrow BG */
  width: 50px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-radius: 0 2px 2px 0;
  background-color: #F5F5F5;
}
.custom-dropdown:hover::before {
  background-color: #f0f0f0;
  color: #666;
}
.custom-dropdown select {
  color: #ddd;
}

.form-control {
  height: auto;
  margin-bottom: 20px;
  background-color: #fff;
  border: 2px solid #e4e4e4;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 17px 6px;
  border-radius: 4px;
  color: #666;
  width: 100%;
  font-size: 16px;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  line-height: 1.42857143;
  display: block;
}

input, button, select,textarea {
  font-family: inherit;
  padding: 19px 6px;
  border-radius: 4px;
  border: 2px solid #e4e4e4;
  color: #ddd;
}

* {
  box-sizing: border-box;
}


input,input[type="password" i],input[type="search" i] {
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}

input, textarea,keygen, select, button {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-align: start;
}
input, textarea,keygen, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb;
}

input select {
  color: #ddd;
}

input::-webkit-input-placeholder {
  color: #ddd;
}

input:-moz-placeholder { 
  color: #ddd;
}

input::-moz-placeholder {  
  color: #ddd;  
}

input:-ms-input-placeholder {  
  color: #ddd;  
}

#inputWhenHappened {
  cursor: pointer;
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
  background-color: #FFF;
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
  opacity: 1;
}

.form-control {
  height: auto;
  margin-bottom: 20px;
  border: 2px solid #e4e4e4;
  transition: all 0.2s ease;
  padding: 17px 6px;
  border-radius: 4px;
  color: #666;
  width: 100%;
  font-size: 16px;
  text-shadow: none;
  box-shadow: none;
}

.form-control {
  display: block;
  line-height: 1.42857143;
  background-image: none;
}

.input-group-addon:last-child{
  border-left:0;
}

.input-group.form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:first-child>.btn-group:not(:first-child)>.btn{
  border-bottom-left-radius:0;
  border-top-left-radius:0;
}

.input-group-addon{
  border:none;
  font-size:24px;
  color:#999;
  position:absolute;
  top:23px;
  right:17px;
  padding:16px35px15px15px;
  box-sizing:border-box;
  border-radius:0;
  background:#F5F5F5;
  transition:all0.2sease;
  cursor:pointer;
}

.input-group-addon{
  font-weight:normal;
  line-height:1;
  text-align:center;
}

.input-group-addon,.input-group-btn{
  width:1%;
  white-space:nowrap;
  vertical-align:middle;
}

.input-group-addon,.input-group-btn,.input-group.form-control{
  display:table-cell;
}

.btn-icon {
  padding: 0px 30px;
}

label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.example p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: #333;
  margin-top: 20px;
}

.example .description {
  font-weight: 700;
  color: #ccc;
}

.example .description-title {
  color: #CF5C60;
}

.examples h1, h2, h3 {
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-top: 0px;
}

.desktop-claims h1 {
  color: #333;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
}

.desktop-claims h2 {
  color: #333;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}

.desktop-claims h3 {
  color: #333;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 80px;
}

.mobile-claims h1 {
  color: #333;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}

.mobile-claims h2 {
  color: #333;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

.mobile-claims h3 {
  color: #666;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 80px;
  font-weight: 600;
}

.desktop-landings h1 {
  color: #333;
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 20px;
}

.desktop-landings h2 {
  color: #333;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
}

.desktop-landings h3 {
  color: #333;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 80px;
}

.desktop-landings-option2 h1 {
  color: #333;
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 50px;
}

.desktop-landings-option2 h2 {
  color: #333;
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 30px;
}

.desktop-landings-option2 h3 {
  color: #333;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 80px;
}

.mobile-landings h1 {
  color: #333;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
}

.mobile-landings h2 {
  color: #333;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

.mobile-landings h3 {
  color: #666;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}

.interior .modal h2 {
  font-size: 24px;
  line-height: 24px;
  margin: 10px 0 10px 0;
}

.modal-body {
  padding: 10px 30px;
}
.product-tile {
  border: 1px solid #D2D2D2;
  border-bottom-width: 4px;
  padding: 26px 0 0;
  margin-bottom: 30px;
}
.product-tile img {
  max-width: 100%;
  margin: 7px auto;
  height: auto;
}
.product-tile h1 {
  font-weight: normal;
  margin: 0;
  padding: 0 0 7px;
}
.product-tile h2 {
  line-height: 1.3em;
  color: #000000;
  font-weight: normal;
  padding: 3px 0;
  margin: 0;
}
.product-tile h3 {
  color: #000000;
  padding: 3px 0;
  margin: 0;
}
.product-tile h4 {
  font-size: 14px !important;
  font-size: 1.4rem !important;
  color: #333333;
  font-style: italic;
  padding: 3px 0 15px;
  margin: 0;
}
.product-tile a {
  color: #13b5ea;
}
.product-tile .progress-flag {
  margin: 0;
  position: absolute;
  top: -20px;
  z-index: 999;
  left: 15px;
}
.product-tile:last-child {
  margin-bottom: 0;
}
.product-tile-footer {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 50px;
}
.product-tile-footer a {
  float: left;
  margin: 15px 0;
  padding: 2px 8px;
  color: #13b5ea;
}
.product-tile-footer p.expired {
  margin: 15px 0;
  padding: 2px 8px;
}
.product-tile-footer p {
  color: #000000;
  font-size: 14px !important;
  font-size: 1.4rem !important;
  font-weight: normal;
  margin: 0;
  padding: 17px 0 15px;
}
.product-tile-footer .file-a-claim {
  border-right: 1px solid #CCC;
  padding-left: 8px;
}
.product-tile-footer a.border {
  border-right: 1px solid #cccccc;
}
.product-tile-footer .claim-accordion a:focus {
  outline: none;
}
.product-tile-footer .claim-accordion a {
  display: inline;
  float: none;
  margin: 0;
  padding: 4px 8px 0;
  text-align: center;
}
.product-tile-footer .claim-accordion a.hide-details {
  display: none;
}
.product-tile-footer .claim-accordion .claim-support-phone,
.product-tile-footer .claim-accordion a.claim-support-link {
  padding: 0;
}
.product-tile-footer .claim-accordion .claim-support-phone a {
  padding: 4px 8px 0 0;
}
.product-tile-footer-icon {
  padding: 0 0;
}
.product-tile-footer-icon a {
  padding: 2px 0;
}
.product-tile {
  background: #fff; }
  .product-tile hr {
    border-top: 1px solid #ddd; }
    .product-tile h2 {
      font-weight: 300;
      line-height: 1.2;
      padding: 0;
      margin-bottom: 10px; }
      .product-tile h3 {
        padding: 0 !important;
        font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', helvetica, arial, sans-serif;
        font-weight: 400;
        font-size: 1.5rem !important;
        margin-bottom: 10px; }
        .product-tile p {
          padding: 0; }
          .product-tile .product-tile-footer {
            min-height: 0;
            background: #fff;
            border-top: 1px solid #eee; }
            .product-tile .product-tile-footer a {
              font-weight: 400;
              font-size: 1.4rem; }
              .product-tile .panel {
                background: none;
                border: none; }
                .product-tile .panel-collapse.in .panel-title .glyphicon {
                  transform: rotate(90deg);
                  -webkit-transform: rotate(90deg); }
                  .product-tile .panel-title {
                    text-align: center;
                    font-style: normal; }
                    .product-tile .prg-trk-container {
                      margin-bottom: 20px; }