//@import 'icons';

@font-face {
  font-family: 'proxima_nova_regular';
  src: url('../fonts/proximanovaregular-webfont.eot');
  src: url('../fonts/proximanovaregular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanovaregular-webfont.woff') format('woff'),
       url('../fonts/proximanovaregular-webfont.ttf') format('truetype'),
       url('../fonts/proximanovaregular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_bold';
  src: url('../fonts/proximanovabold-webfont.eot');
  src: url('../fonts/proximanovabold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanovabold-webfont.woff') format('woff'),
       url('../fonts/proximanovabold-webfont.ttf') format('truetype'),
       url('../fonts/proximanovabold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_thin';
  src: url('../fonts/proximanovathin-webfont.eot');
  src: url('../fonts/proximanovathin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanovathin-webfont.woff') format('woff'),
       url('../fonts/proximanovathin-webfont.ttf') format('truetype'),
       url('../fonts/proximanovathin-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_light';
  src: url('../fonts/proximanovalight-webfont.eot');
  src: url('../fonts/proximanovalight-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanovalight-webfont.woff') format('woff'),
       url('../fonts/proximanovalight-webfont.ttf') format('truetype'),
       url('../fonts/proximanovalight-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_semibold';
  src: url('../fonts/proximanovasemibold-webfont.eot');
  src: url('../fonts/proximanovasemibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanovasemibold-webfont.woff') format('woff'),
       url('../fonts/proximanovasemibold-webfont.ttf') format('truetype'),
       url('../fonts/proximanovasemibold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
