@import 'compass/reset';
@import 'compass/css3';
//@import 'fonts';
//@import 'icons';
@import '../lib/bootstrap.min';
@import '../lib/prettify';
@import '../lib/animate';

// media-queries -----------------------

// example usage: 
//
// h3 {
//	font-size: 2em;
// 	@include breakpoint(small) {
//	 font-size: 1.2em;
//	}
// }

@mixin breakpoint($point) {
  @if $point == largest {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == larger {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == large {
    @media (max-width: 968px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 650px)  { @content; }
  }
  @else if $point == smallest {
    @media (max-width: 400px)  { @content; }
  }
}

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              12 !default;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         30px !default;
// Point at which the navbar stops collapsing
$grid-float-breakpoint:     $screen-sm-min !default;


// Grid System
// -----------

// Centered container element
@mixin container-fluid() {
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($grid-gutter-width);
  padding-right: ($grid-gutter-width);
  @include clearfix;  
}

@mixin container-fixed() {
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  @include clearfix;
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
  @include clearfix;
}

// Generate the extra small columns
@mixin make-xs-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  float: left;
  width: percentage(($columns / $grid-columns));
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

// Generate the small columns
@mixin make-sm-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: $screen-sm-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

// Generate the small column offsets
@mixin make-sm-column-offset($columns) {
  @media (min-width: $screen-sm-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-push($columns) {
  @media (min-width: $screen-sm-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-pull($columns) {
  @media (min-width: $screen-sm-min) {
    right: percentage(($columns / $grid-columns));
  }
}

// Generate the medium columns
@mixin make-md-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: $screen-md-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

// Generate the medium column offsets
@mixin make-md-column-offset($columns) {
  @media (min-width: $screen-md-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-push($columns) {
  @media (min-width: $screen-md) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-pull($columns) {
  @media (min-width: $screen-md-min) {
    right: percentage(($columns / $grid-columns));
  }
}

// Generate the large columns
@mixin make-lg-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: $screen-lg-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

// Generate the large column offsets
@mixin make-lg-column-offset($columns) {
  @media (min-width: $screen-lg-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-push($columns) {
  @media (min-width: $screen-lg-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-pull($columns) {
  @media (min-width: $screen-lg-min) {
    right: percentage(($columns / $grid-columns));
  }
}

// Framework grid generation
//
// Used only by Sass Bootstrap to generate the correct number of grid classes given
// any value of `$grid-columns`.

// Generate selector arrays
//
$cols-all:       comma-list();
$cols-xs:        comma-list();
$cols-sm:        comma-list();
$cols-md:        comma-list();
$cols-lg:        comma-list();

$cols-xs-push:   comma-list();
$cols-sm-push:   comma-list();
$cols-md-push:   comma-list();
$cols-lg-push:   comma-list();

$cols-xs-pull:   comma-list();
$cols-sm-pull:   comma-list();
$cols-md-pull:   comma-list();
$cols-lg-pull:   comma-list();

$cols-xs-offset: comma-list();
$cols-sm-offset: comma-list();
$cols-md-offset: comma-list();
$cols-lg-offset: comma-list();

// Base column classes span from 1-12
@for $column from 1 through $grid-columns {
  $cols-xs: append($cols-xs, unquote(".col-xs-#{$column}"), comma);
  $cols-sm: append($cols-sm, unquote(".col-sm-#{$column}"), comma);
  $cols-md: append($cols-md, unquote(".col-md-#{$column}"), comma);
  $cols-lg: append($cols-lg, unquote(".col-lg-#{$column}"), comma);

  // last one
  @if $column == $grid-columns {
    $cols-groups: $cols-xs, $cols-sm, $cols-md, $cols-lg;
    @each $group in $cols-groups {
      $cols-all: append($cols-all, $group, comma);
    }
  }
}

// Push / pull / offset classes span from 0-12
@for $column from 0 through $grid-columns {
  // Push
  $cols-xs-push:   append($cols-xs-push,    unquote(".col-xs-push-#{$column}"),   comma);
  $cols-sm-push:   append($cols-sm-push,    unquote(".col-sm-push-#{$column}"),   comma);
  $cols-md-push:   append($cols-md-push,    unquote(".col-md-push-#{$column}"),   comma);
  $cols-lg-push:   append($cols-lg-push,    unquote(".col-lg-push-#{$column}"),   comma);

  // Pull
  $cols-xs-pull:   append($cols-xs-pull,    unquote(".col-xs-pull-#{$column}"),   comma);
  $cols-sm-pull:   append($cols-sm-pull,    unquote(".col-sm-pull-#{$column}"),   comma);
  $cols-md-pull:   append($cols-md-pull,    unquote(".col-md-pull-#{$column}"),   comma);
  $cols-lg-pull:   append($cols-lg-pull,    unquote(".col-lg-pull-#{$column}"),   comma);

  // Offset
  $cols-xs-offset: append($cols-xs-offset,  unquote(".col-xs-offset-#{$column}"), comma);
  $cols-sm-offset: append($cols-sm-offset,  unquote(".col-sm-offset-#{$column}"), comma);
  $cols-md-offset: append($cols-md-offset,  unquote(".col-md-offset-#{$column}"), comma);
  $cols-lg-offset: append($cols-lg-offset,  unquote(".col-lg-offset-#{$column}"), comma);
}

@mixin make-grid-columns($cols: $cols-all) {
  // Common styles for all sizes of grid columns, widths 1-12
  @debug #{$cols};
  #{$cols} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
}

@mixin make-grid-columns-float($class) {
  $cols-floats: comma-list();
  @for $column from 1 through ($grid-columns - 1) {
    $cols-floats: append($cols-floats, unquote(".col-#{$class}-#{$column}"), comma);
  }
  // 1-11 only (12 doesn't float b/c its full-width)
  #{$cols-floats} {
    float: left;
  }
}

@mixin calc-grid($column, $class, $type) {
  $type-class: if($type == width, "-", "-#{$type}-");
  .col-#{$class}#{$type-class}#{$column} {
    @if $type == width {
            width: if($column == $grid-columns, 100%, percentage(($column / $grid-columns)));
    } @else if $type == push {
             left: if($column == 0, auto, percentage(($column / $grid-columns)));
    } @else if $type == pull {
            right: if($column == 0, auto, percentage(($column / $grid-columns)));
    } @else if $type == offset {
      margin-left: if($column == 0, 0, percentage(($column / $grid-columns)));
    } @else {
      @warn "Invalid $type parameter passed to @mixin calc-grid().\nExpected: width, push, pull, offset\nActual: #{$type}";
    }
  }
}

@mixin make-grid($columns, $class, $type) {
  // widths start at .col-#{$class}-1, offsets/push/pull start at 0
  $start: if($type == width, 1, 0);
  @for $column from $start through $columns {
    @include calc-grid($column, $class, $type);
  }
}

// Utilities
// -------------------------

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

@mixin active-bounce() {
  &:active {
    position: relative;
    top: 1px;
  }
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @include box-sizing(border-box);
}

img {
  max-width: 100%;
}
// Colors 

$blue: #4EB1CB;
$red: #CF5C60;
$purple: #717ECD;
$green: #4AB471;
$gold: #F3AE4E;
$orange: #f0856e;

// Fonts
$proxima-thin: 'proxima_nova_thin', "Helvetica Neue", Helvetica, Arial, sans-serif;
$proxima-light: 'proxima_nova_light', "Helvetica Neue", Helvetica, Arial, sans-serif;
$proxima-regular: 'proxima_nova_regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
$proxima-semi-bold: 'proxima_nova_semibold', "Helvetica Neue", Helvetica, Arial, sans-serif;
$proxima-bold: 'proxima_nova_bold', "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin font-light() {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

@mixin font-regular() {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

@mixin font-bold() {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}


.chromeframe {position: absolute; top: 0;}

body {
  font-size:16px;
  line-height: 20px;
  @include font-regular;
  color: #666666;
  background: #333;
  -webkit-backface-visibility:hidden;
}

// General helper classes

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-centered {
  text-align: center;
}
