/*   
Theme Name: Asurion Styleguide 
Theme URI: http://asurion.com
Description: Styleguide for setting design standards moving forward. 
Author: Asurion Design Group
Version: 2.0
*/

@import 'globals';

#wrapper {width: 960px; margin: 20px auto;}
.post {}
.entry-content {}
.entry-content a {}
.entry-content a:hover {}
#meta {}
.postmetadata {}
#sidebar {}
.navgation {}
.next-posts {}
.prev-posts {}
#searchform {}
#s {}
#searchsubmt {}
	
// Weird WP comments reset shit -------------------------

ol.commentlist {list-style: none;}
ol.commentlist li {}
ol.commentlist li.alt {}
ol.commentlist li.bypostauthor {}
ol.commentlist li.byuser {}
ol.commentlist li.comment-author-admin {}
ol.commentlist li.comment {border-bottom: 1px dotted #666; padding: 10px;}
ol.commentlist li.comment div.comment-author {}
ol.commentlist li.comment div.vcard {}
ol.commentlist li.comment div.vcard cite.fn {font-style: normal;}
ol.commentlist li.comment div.vcard cite.fn a.url {}
ol.commentlist li.comment div.vcard img.avatar {float:right; margin: 0 0 10px 10px;}
ol.commentlist li.comment div.vcard img.avatar-32 {}
ol.commentlist li.comment div.vcard img.photo {}
ol.commentlist li.comment div.vcard span.says {}
ol.commentlist li.comment div.commentmetadata {}
ol.commentlist li.comment div.comment-meta {font-size: 10px;}
ol.commentlist li.comment div.comment-meta a {color: #ccc;}
ol.commentlist li.comment p {}
ol.commentlist li.comment ul {}
ol.commentlist li.comment div.reply {font-size: 11px;}
ol.commentlist li.comment div.reply a {font-weight: bold;}
ol.commentlist li.comment ul.children {list-style: none; margin: 10px 0 0;}
ol.commentlist li.comment ul.children li {}
ol.commentlist li.comment ul.children li.alt {}
ol.commentlist li.comment ul.children li.bypostauthor {}
ol.commentlist li.comment ul.children li.byuser {}
ol.commentlist li.comment ul.children li.comment {}
ol.commentlist li.comment ul.children li.comment-author-admin {}
ol.commentlist li.comment ul.children li.depth-2 {border-left: 5px solid #555; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-3 {border-left: 5px solid #999; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-4 {border-left: 5px solid #bbb; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-5 {}
ol.commentlist li.comment ul.children li.odd {}
ol.commentlist li.even {background: #fff;}
ol.commentlist li.odd {background: #f6f6f6;}
ol.commentlist li.parent {border-left: 5px solid #111;}
ol.commentlist li.thread-alt {}
ol.commentlist li.thread-even {}
ol.commentlist li.thread-odd {}

// bootstrap reset ---------------------- 

.container {
  width: auto;
}

// Main Styles ----------------------------- 

::-moz-selection{background: #5AD5EC; color: #fff; text-shadow: none;}
::selection {background: #5AD5EC; color: #fff; text-shadow: none;} 
a:link {-webkit-tap-highlight-color: #5AD5EC;} 
ins {background-color: #5AD5EC; color: #fff; text-decoration: none;}
mark {background-color: #5AD5EC; color: #fff; font-style: italic; font-weight: bold;}

::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
   color: #ddd;
}

:-moz-placeholder, .form-control:-moz-placeholder { /* Firefox 18- */
   color: #ddd;
}

::-moz-placeholder, .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #ddd;
}

:-ms-input-placeholder, .form-control:-ms-input-placeholder {  
   color: #ddd;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 50px;
  line-height: 40px;
  color: #E34B31;
  margin: 20px 0 30px 0;
  @include font-light;
  &.main {
    margin: 60px 0 0 0;
    &:first-of-type {
      margin-top: 90px;
    }
  }
}

h2 {
  color: #666;
  font-size: 24px;
  line-height: 40px;
  @include font-bold;
}
h3 {
  color: #666;
  font-size: 20px;
  line-height: 20px;
}
h4 {
  color: #999;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  @include font-bold;
}
h5 {
  font-size: 14px;
  line-height: 20px;
}
h6 {
  font-size: 12px;
  line-height: 20px;
}
p {
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 18px;
  @include font-light;
  @include breakpoint (medium) {
    font-size: 16px;
  }
}
ul, ol {
  font-size: 18px;
  @include font-light;
  @include breakpoint (medium) {
    font-size: 16px;
  }
}
a {
  color: #525252;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #333;
}

.container {
  @include container-fixed;
  max-width: 940px;
  padding: 0;
  @include breakpoint(large) {
    padding: 0 50px;
  }
  .content {
    @include make-row;
  }
  @include breakpoint(small) {
    padding: 0 30px;
  }
}

.entry {
  ul {
    list-style: disc;
    margin: 0 0 0 20px;
    li {
      padding: 0 0 15px 0;
      line-height: 25px;
    }
  }
}

// Top Well ---------------------------------------- 

@-webkit-keyframes mov {
  from { background-position: 0 0; }
  to { background-position: -1394px 0; }
}

@-moz-keyframes mov {
  from { background-position: 0 0; }
  to { background-position: -1394px 0; }
}

@keyframes mov {
  from { background-position: 0 0; }
  to { background-position: -1394px 0; }
}

#top {
  width:100%;
  min-height: 400px;
  margin: 0 auto 20px auto;
  background: #4EB1CB url("../img/devicesB.svg") 0 0 repeat-x;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 75px 0 10px 0;
  -webkit-animation: mov 60s linear infinite;
  -webkit-animation-fill-mode: backwards;
  -moz-animation: mov 60s linear infinite;
  -moz-animation-fill-mode: backwards;
  animation: mov 60s linear infinite;
  animation-fill-mode: backwards;
  @include breakpoint(small) {
    min-height: 270px;
    padding: 2px 0 0 0;
    font-size: 48px;
  }
  h1 {
    @include font-light;
    text-align: left;
    font-size: 80px;
    color: #fff;
    text-align: center;
    font-weight: 100;
    margin-top: 118px;
    margin-bottom: 45px;
    @include breakpoint(small) {
      font-size: 48px;
      margin-top: 70px;
    }
  }
  h3 {
    @include font-light;
    text-align: left;
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    @include breakpoint(small) {
      font-size: 15px;
    }
  }
}

hr.divider {
  border-top-width: 1px;
  border-top-style: solid;
  border-color: rgba(255, 255, 255, .5);
  width: 40%;
  margin: 20px auto;
  border-bottom: none;
  @include breakpoint(large) {
    width: 60%;
  }
  @include breakpoint(medium) {
    width: 75%;
  }
  @include breakpoint(small) {
    width: 90%;
    margin: -8px auto 8px auto;
  }
}

// Main Content ---------------------------------------

#main {
  background: #fff;
}

a {
  color: #4bc6df;
  &:hover {
    color: #69e4fd;
  }
}

// Patterns Intro --------------------------------------

.main-circles {
  margin: -65px auto 0 auto;
  display: block;
  width: 300px;
  @include breakpoint(small) {
    width: 150px;
    margin: -60px auto 0 auto;
  }
}

.welcome {
  @include box-shadow(0px 2px 3px rgba(0, 0, 0, .05));
  padding-bottom: 100px;
  h1 {
    @include font-regular;
    margin: 50px auto;
  }
  p {
    color: #666;
    width: 65%;
    margin: 0 auto;
    font-size: 22px;
    @include font-light;
    line-height: 32px;
    @include breakpoint (small) {
      font-size: 16px;
      line-height: 26px;
      width: 100%;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


// Logo/Header/Navigation ------------------------- 

.logo {
  font-size: 24px;
  padding-top: 4px;
  color: #666;
  float: left;
  @include transition(all .3s ease);
  @include active-bounce();
  &:hover {
    color: #111;
    @include transition(all .3s ease);
  }
  @include breakpoint(medium) {
    padding-top: 6px;
  }
}

header {
  padding: 15px 0;
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 5;
  @include transition(all .2s ease);
  @include box-shadow(0px 1px 0px rgba(0, 0, 0, .2));
  .nav-open {
    display: none;
    font-size: 24px;
    margin: 6px 0 0 0;
    @include transition(all .3s ease);
    @include breakpoint(medium) {
      display: inline-block;
      margin: 0;
      @include border-radius(5px);
      border: 1px solid #eee;
      @include transition(all .3s ease);
      padding: 4px 5px;
    }
  }
  @include breakpoint(medium) {
    position: relative;
  }
  @include breakpoint(small) {
    height: auto;
    .nav-wrap {
      position: fixed;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      @include transition(visibility .3s ease);
      left: 0;
      a {
        margin: 0;
      }
    }
  }
}

nav {
  margin: 5px 0 0 0;
  float: right;
  ul {
    margin: 0;
  }
  li {
    display: inline-block;
    padding: 0 18px;
    @include font-light;
    @include breakpoint(medium) {
      padding: 0 10px;
    }
    &.last {
      padding-right: 0;
    }
  }
  a {
    color: #666;
    text-decoration: none;
    font-size: 16px;
    @include transition(color .3s ease-in-out);
    @include font-regular;
    @include active-bounce();
    &:hover {
      color: #444;
    }
  }
  @include breakpoint(medium) {
    float: none;
    text-align: center;
    position: relative;
    margin: 0;
    top: 45%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-perspective: 1200px;
    perspective: 1200px;
    ul {
      opacity: 0.4;
      -webkit-transform: translateY(-15%);
      transform: translateY(-15%);
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      height: 100%;
      position: relative;
    }
    li {
      display: block;
      height: 20%;
      &.last {
        padding-right: 20px;
      }
    }
    a {
      @include font-light;
      font-size: 40px;
      line-height: 35px;
      padding: 25px 0;
      font-weight: 100;
      display: block;
      color: #fff;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
      &:hover {
        color: #ddd;
      }
    }
  }
}

.overlay {
  opacity: 1;
  visibility: visible;
  position: relative;
  display: block;
  @include breakpoint(medium) {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(78, 177, 203, .96);
    z-index: 9999;
    &.open {
      opacity: 1;
      visibility: visible;
      @include transition(opacity .5s);
      nav ul {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);    
      }
    }
    &.overlay-close {
      @include transition(all .5s ease-in-out);
      nav ul {
        -webkit-transform: translateY(15%);
        transform: translateY(15%);    
      }
      .overlay-close {
        top: 0px;
        @include transition(all .5s ease-in-out);
      }
    }
  }
}

.overlay-close {
  display: none;
  float: right;
  @include font-light;
  @include breakpoint(medium) {
    display: block;
    font-size: 70px;
    position: absolute;
    height: 35px;
    right: 32px;
    top: 17px;
    background: none;
    overflow: hidden;
    border: none;
    color: rgba(255, 255, 255, .5);
    outline: none;
    z-index: 100;
    cursor: pointer;
    @include transition(color .5s ease);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
    &:active:active {
      top: 17px;
      position: inherit;
    }
  }
}

.test-overlay {
  height: 450px;
  .overlay-close {
    display: block;
    font-size: 70px;
    position: absolute;
    height: 35px;
    right: 32px;
    top: 17px;
    background: none;
    overflow: hidden;
    border: none;
    color: rgba(255, 255, 255, .5);
    outline: none;
    z-index: 100;
    cursor: pointer;
    @include transition(color .5s ease);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
    &:active:active {
      top: 17px;
      position: inherit;
    }
  }
  .overlay {
    opacity: 0;
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(78, 177, 203, .96);
    &.open {
      opacity: 1;
      visibility: visible;
      @include transition(opacity .5s);
      nav ul {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);    
      }
    }
  }
  nav {
    float: none;
    text-align: center;
    position: relative;
    margin: 0;
    top: 50%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-perspective: 1200px;
    perspective: 1200px;
    ul {
      opacity: 0.4;
      -webkit-transform: translateY(-15%);
      transform: translateY(-15%);
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      height: 100%;
      position: relative;
    }
    li {
      display: block;
      height: 20%;
      height: calc(100% / 5);
      min-height: 85px;
      &.last {
        padding-right: 20px;
      }
    }
    a {
      @include font-light;
      font-size: 40px;
      font-weight: 100;
      display: block;
      color: #fff;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
      &:hover {
        color: #ddd;
      }
    }
  }
}

// wrappers for nav -------------------- 

.row {
  margin: 0 auto;
  max-width: 940px;
}

article {
  border-radius: 0;
  padding: 40px 0;
  overflow: hidden;
  @include breakpoint(medium) {
    padding-top: 40px;
  }
  &.intro {
    @include box-shadow(0px 2px 3px rgba(0, 0, 0, .05));
  }
  &.interior {
    border-bottom: 1px solid #eee;
  }
  &:last-of-type {
    box-shadow: none;
  }
  h1 {
    margin-top: 0
  }
  @include breakpoint(small) {
    padding: 30px 0 50px 0;
  }
}

.interior {
  h2 {
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
    margin: 20px 0 30px 0;
    @include font-light;
  }
}

// Illustrations -------------------------------

.illustration {
  max-width: none;
  &.left {
    margin-left: -208px;
  }
  @include breakpoint(medium) {
    display: none;
  }
}
// Interior Page Title --------------------------------

$categories: styling-and-css $red, javascript-and-behavior $purple, standards $green,  assets $orange;

@each $category in $categories {
  $cat-type:  nth($category, 1);
  $cat-color: nth($category, 2);
  .category-#{$cat-type} {
    .interior-welcome {
      background: $cat-color;
    }
    h1, .open-panel, .entry a, a.nav-open {
      color: $cat-color;
    }
    ::-moz-selection {
      background: $cat-color;
    }
    ::selection {
      background: $cat-color;
    }
    a:link {
      -webkit-tap-highlight-color: $cat-color;
    } 
    code {
      background: tint( $cat-color, 85% );
      @include border-radius(3px);
      padding: 2px 5px;
      font-size: 14px;
    }
  }
}

.interior-welcome {
  padding: 85px 0 10px 0;
  background-color: #13bded; // Old browsers
  @include filter-gradient(#13bded, #60d5ea, horizontal); // IE6-9
  @include background-image(linear-gradient(left,  #13bded 0%,#60d5ea 100%));
  text-align: center;
  h1 {
    color: #fff;
    margin: 50px 0;
  }
  @include breakpoint(medium) {
    padding: 10px 0;
  }
}

// Sidenav ---------------------------------------

ul.sidebar {
  margin: 95px 0 0 0;
  border: 1px solid #eee;
  width: 100%;
  font-weight: 400;
  @include border-radius(4px);
  @include breakpoint(medium) {
    margin: 50px 0 0 0;
  }
  li {
    background: #f9f9f9;
    &.main {
      background: #eee;
      a {
        font-size: 15px;
      }
      ul a {
        font-size: 14px;
      }
    }
    &:first-of-type {
      @include border-radius(4px 4px 0 0);
    }
    ul li {
      &:first-of-type {
        @include border-radius(0);
      }
    }
  }
  a {
    color: #999;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    font-weight: 400;
    display: block;
    @include transition(background .4s ease);
    @inclue text-shadow(1px 0px 0px #fff);
    @include border-radius(0);
    &:hover {
      background: #eee;
      @include transition(background .4s ease);
    }
  }
  &.affix {
    margin: 0;
    position: fixed;
    top: 85px;
    width: 33.3%;
    max-width: 213px;
    @include breakpoint(medium) {
      position: static;
      top: 0;
      margin: 50px 0 0 0;
      max-width: 100%;
      width: 100%;
    }
  }
}

// Buttons ------------------------------------- 

.btn {
  border: 0;
  @include font-regular;
  font-size: 16px;
  background: #0068a6;
  color: #fff;
  padding: 6px 12px;
  text-align: center;
  position: relative;
  overflow: hidden;
  @include border-radius(4px);
  @include box-shadow(inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2));
  @include text-shadow(0px 1px 0px rgba(0, 0, 0, 0.2));
  @include transition(background-color, .1s linear);
  @include appearance(none);
  &:hover {
    color: #fff;
    background: #0c7fc3;
  }
  &:focus, .active {
    border: none;
    outline: none;
    color: #fff;
    background: #0c7fc3;
    @include border-radius(4px);
    @include active-bounce;
    @include box-shadow(inset 0 -1px 0px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0));
  }
}

.btn-intro {
  background: #4bc6df;
  margin: 40px 0;
  &:hover {
    background: #55d6f0;
  }
  &:focus, &:active {
    @include active-bounce;
    background: #55d6f0;
    @include box-shadow(inset 0px -1px 0px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0));
  }
}

.btn-large, .btn-large:hover {
  font-size: 16px;
  padding: 20px 0;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  @include font-light;
  text-align:center;
}

.btn-primary {
  border: none;
  background-color: #27AE60;
  @include box-shadow(inset 0 -3px 0 rgba(0,0,0,0.2));
  &:hover {
    background-color: #3db670;
  }
  &:active, &:focus {
    background-color: #27AE60;
    @include active-bounce; 
    @include box-shadow(inset 0 -2px 0 rgba(0,0,0,0.2))
  }
  &.disabled {
    background: #a1a4a7;
    @include box-shadow(inset 0 -3px 0 rgba(0,0,0,0.2));
    cursor: disabled;
    color: #dcddde;
  }
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background-color: transparent;
  color:#666;
  @include box-shadow(0 0 0 rgba(0,0,0,0));
  text-shadow: none;
  @include active-bounce;
}

.btn-disabled, .btn-disabled:hover, .btn-disabled:active {
  color: rgba(255,255,255,0.6);
  background-color: #a1a4a7;
  text-shadow: none;
  @include box-shadow(inset 0 -3px 0 rgba(0,0,0,0.2));
  cursor: default;
}

.btn-intro {
  border: none;
  margin: 40px 0;
  background-color: $blue;
  @include box-shadow(inset 0 -3px 0 rgba(0,0,0,0.2));
  &:hover {
    background-color: #54d7f1;
  }
  &:active, &:focus {
    background-color: #54d7f1;
    @include active-bounce; 
    @include box-shadow(inset 0 -2px 0 rgba(0,0,0,0.2))
  }
}

// Buttons with icons ------------------------------

.btn-icon {
  padding: 0 12px 0 0;
  i {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    background: rgba(0,0,0,0.2);
    padding: 7px;
    margin: 0 12px 0 0;
    @include border-radius(6px 0 0 6px);
  }
}

// Modals ----------------------------------- 

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.8;
}

.modal-header {
  padding: 15px;
  .close {
    margin-top: -4px;
    float: right;
    font-size: 15px;
    color: #ccc;
  }
  h2 {
    text-align: center;
    @include font-light;
    margin: 5px 0 0 0;
  }
}

.modal-body {
  p {
    font-size: 16px;
    line-height: 20px;
    color: #666;
    @include font-light;
  }
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  @include border-radius(0 0 6px 6px);
  *zoom: 1;
  @include box-shadow(inset 0 1px 0 #fff);
  text-align: center;
}

// Footer ------------------------------------------------

footer {
  background: #F2F2F2;
  height: 100px;
  padding: 10px;
}

// Code Examples and Pretty -------------------------------

.prettyprint-title {
  background: #BAE2FB;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 20px;
  font-size: 18px;
}

.example {
  border: 1px solid #ddd;
  @include border-radius(4px 4px 0 0);
  &:before {
    content: "Example";
    display: inline-block;
    padding: 5px 10px;
    background: #eee;
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    @include border-radius(4px 0 4px 0);
  }
  .button-type {
    font-size: 14px;
    float: right;
    background: #f4f4f4;
    border: 1px solid #eee;
    padding: 5px 10px;
    @include border-radius(5px);
    @include clearfix;
    @include breakpoint(smallest) {
      display: block;
      float: none;
      margin: 15px 0 5px 0;
    }
  }
  .notes {
    font-size: 13px;
    display: block;
    margin: 15px 0 0 0;
    span {
      background: #eee;
      font-weight: bold;
      padding: 5px;
      @include border-radius(4px);
      margin: 0 5px 0 0;
    }
  }
  .btn-large {
    width: 200px;
  }
  h2 {
    margin: 5px 0 20px 0;
  }
  &.css, &.js, &.html {
    @include border-radius(0);
    background-color: #f7fcff;
    border-top: none;
    &:before {
      @include border-radius(0 0 4px 0);
      clear: both;
    }
    &:last-of-type {
      @include border-radius(0 0 4px 4px);
    }
  }
  &.html:before {
    content: "HTML";
  }
  &.css:before {
    content: "CSS";
  }
  &.js:before {
    content: "JS";
  }
}

.glyph {
  display: inline-block;
  text-align: center;
  background: #eee;
  @include border-radius(5px);
  padding: 15px 5px;
  margin: 0 10px 15px 0;
  @include box-shadow(inset 0 0 0 1px #f8f8f8, 0 0 0 1px #CCC);
  div {
    font-size: 20px;
  }
  input {
    text-align: center;
    width: 75%;
  }
}

.example-title {
  background: #CCCCCC;
  color: #fff;
  font-size: 18px;
  padding: 8px 20px;
  text-transform: uppercase;
  margin-top: 50px;
}

.example-content {
  padding: 20px;
  &.modal-open {
    background: rgba(0, 0, 0, .8);
  }
  .modal {
    display: block;
    background: #444;
    position: relative;
    width: 100%;
    opacity: 1;
    @include translate(0,0);
    z-index: 1;
    .modal-dialog {
      width: 100%;
      @include translate(0,0);
    }
  }
}

// Markup for pattern examples --------- 

pre, pre.prettyprint {
  border-radius: 0;
  //@include filter-gradient(#f5fafe, #F1F8FD, vertical);
  //@include background-image(linear-gradient(top,  #f5fafe 0%,#F1F8FD 100%));
  border: none;
  margin: 0;
  padding: 20px;
  white-space: wrap;
}

.pln {
  color: #666666;
}

.prettyprint-bottom {
  margin: 0 0 20px 0;
}

ol.linenums {
  margin-left: 45px;
}

// Helper Classes ------------------ 

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

// Print styles!

@media print {

}

// Testing ------------------ 


@media only screen and (max-width: 768px) {
  .illustration {
    max-width: 100%;
    margin: 0 auto;
    &.left {
      margin: 0 auto;
      &.button {
        margin-top: -35%;
      }
      &.modals {
        margin-top: -75%;
      }
    }
  }
}

.radio {
  padding-left:0;
  label {
    font-size: 14px;
    position: relative;
    padding: 10px 0 0 30px;
    display: inline;
    cursor: pointer;
    @include transition(all .2s ease);
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -5px;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    &:before {
      @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.5));
      background: #fff;
    }
    &:after {
      background: #27AE60;
      opacity: .2;
      @include transform(scale(0));
      @include transition(all .2s ease);
    }
  }
  input:checked + label::after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
    box-shadow: 0 0 3px -1px #27AE60;
  }
}


// dropdown select bullshit 

/* input.ddsinput {margin-bottom: 10px;} */
.ddslist {margin-left: 0;}
/* .dropdownselect-list {display: none; padding-bottom: 40px; margin-left: 0; margin-top: 0; position: absolute;} */
.dropdownselect-list {display: none; padding-bottom: 40px; position: absolute;z-index:999;}
.dropdownselect-list ul {-webkit-animation: fadeIn 0.3s;-moz-animation: fadeIn 0.3s;-ms-animation: fadeIn 0.3s;-o-animation: fadeIn 0.3s;animation: fadeIn 0.3s;width: 100%; width: 100%; border-radius: 4px; border: 1px solid #DDD; box-shadow: 0px 3px 5px rgba(0,0,0,0.2); position: relative; z-index: 1; background-color: #FFFFFF; max-height: 204px; overflow: auto;}
.dropdownselect-list li {border-bottom: 1px solid #DDD; background: 15px 50% no-repeat;font-size: 14px;}
.dropdownselect-list li:last-child {border-bottom: none;}
.dropdownselect-list li:hover {background-color: #f7f7f7;}

ul.has-thumb {max-height: 216px;}
li.has-thumb {display: block; line-height: 72px; padding-left: 60px;}
li.no-thumb {display: block; line-height: 30px; padding-left: 10px;padding-top:5px;padding-bottom:5px;}

[class*="span"].dropdownselect-list:not([class*="offset"]) {
  margin-left: 0;
}
.dropdownselect .add-on {
  background-color: #CCC;
  position: relative;
  z-index: 99;
  padding: 0 5px;
}

/* responsive styles for dropdownselect */

@media (min-width: 767px){
  .dropdownselect-list {
    margin-top: 54px;
  }

  .dropdownselect-list.no-label {
    margin-top: 49px !important;
  }
}

@media (max-width: 768px){
  .add-on i {
    font-size: 14px;
    line-height: 24px;
    text-indent: 0;
  }
  .dropdownselect-list {
    margin-top: -51px;
  }
.dropdownselect-list.no-label {
      margin-top: -11px;
} 
}

.carousel {
  padding: 20px 0;
}

.carousel-control {
  height: 100%;
  width: 9%;
  background-image: none;
  background: #ccc;
  &.left, &.right {
    background-image: none;
    font-family: 'Asurion';
    padding-top: 150px;
  }
}

.carousel-inner>.item {
  width: 100%;
  >img {
    margin: 0 auto;
  }
}

.carousel-indicators {
  bottom: -25px;
  li {
    border: 1px solid #ccc;
  }
  .active {
    background: #ccc;
  }
}
